extends layouts/main-layout.pug

block content
    div(style='display:flex;flex-direction:column;text-align:center;width:80vw;margin:auto')
        img(src='https://theundercoverrecruiter.com/wp-content/uploads/2018/04/annie-spratt-608001-unsplash-e1524757159247.jpg' alt='About Us')
        h2(style='padding:5px;color: greyish') About Us
        h5 JobPortal strives to put job seekers first, giving them free access to search for jobs, post resumes, and research companies. Every day, we connect millions of people to new opportunities.
